.home {
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #bfbfbf;
  text-align: center;
  width: 1200px;
}

.home h1 {
  font-size: 50px;
}

.home p{
  font-size: 40px;
}


header{
  margin-top: 10px;
  padding-top: 5px;
  border-top:1px solid #eaeaea;
  height: 60px;
  background-color: #696;
}

header ul{
  list-style: none;
  float: right;
}

header ul li{
  float: left;
  margin-right: 30px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: gray;
}

footer a:hover {
  color: red;
}

footer small {
  float: left;
  font-size: 15px;
  margin-left: 20px;
}

footer ul {
  float: right;
  list-style: none;
  margin-right: 15px;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.choose_button {
  text-align: center;
}

.choose_word {
  text-align: center;
  font-size: 30px;
  color: gray;
}

.micropost_input {
  margin: 0px auto;
  width: 650px;
  list-style-type: none;
}

.micropost_button {
  width: 100%;

}

.title {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
  color: gray;
}

.signup_out,.login_out{
  margin: 0px auto;
  width: 670px;
  font-size: 20px;
  list-style-type:none;
}

.inputinput{
  font-size: 40px;
  margin-left: 20px;
}

.signup_button,.login_button{
  width: 100%;
  height: 60px;
  margin: 50px auto;

}

.input {
  width: 100%;
  height: 50px;
}

.micropost_comment_out {
  margin: 2px auto;
}

.micropost_comment_in {
  width: 670px;
  margin: 10px auto;
  list-style-type: none;
  background-color: #cff;
}

.head_name{
  font-size: 10px;
  margin: 2px 0px 2px 4px;
}

.micropost_word {
  font-size:20px;
  margin: 0px 15px 0px 15px;
}

.comment_goods {
  list-style-type: none;
  width: 550px;
}

.is_goods_count {
  font-size: 20px;
  margin: 1px 5px 0px 8px;
}

.comment_input {
  margin-left: 5px;
  height: 25px;
}

.comment_word_out {
  margin: 3px 0px 0px 15px;
  font-size: 14px;
  width: 500px;
  border: 1px solid;
}


.comment_word {
  font-size: 15px;
  margin: 0px 0px 0px 15px;
}

/*时间戳*/
span {
  font-size: 10px;
}

/* 错误信息 */
.errors_li {
  list-style-type: none;

}

/* 闪现消息 */
.flash {
  margin-left: 50px;
}