/* 所有用户 index */
.all_users {
  font-size: 20px;
  width: 500px;
}

.all_users li{
  border-top: 1px solid #ccc;
  margin: 20px 0px 20px 40px;
  list-style-type: none;
  a {text-decoration: none;}
}

/* 用户界面 show*/
.user_id {
  font-size: 30px;
  text-align: center;
}

.adminmanage {
  margin: 15px 0px 5px 5px;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;

}

.reporttitle{
  margin: 10px;
  list-style-type: none;
}

.reportlist{
  border-top: 1px solid #E8E8E8;
  margin: 20px

}
